<div class="sidebar">
  <div class="user-info">
    <img src="assets/profile.png" alt="User Avatar" class="avatar" />
    <p class="username">er2142</p>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/dashboard">
        <i class="fas fa-home"></i> Dashboard
      </a>
    </li>
      <li><a routerLink="/income">
        <i class="fas fa-dollar-sign"></i> Income
      </a></li>
      <li><a routerLink="/expense">
        <i class="fas fa-chart-line"></i> Expense
      </a></li>
      <li><a routerLink="/reports">
        <i class="fas fa-file-alt"></i> Reports
      </a></li>
    </ul>
  </nav>
</div>
